@tailwind base;
@tailwind components;
@tailwind utilities;

.Content {
  height: 500px;
  width: 1245px;
  display: flex;
  flex-direction: row;

  /* width: 100%; */
}
.Content .left-side {
  flex: 2;

  padding: 10px;
  display: flex;
  flex-direction: column;
}
.Content .right-side {
  flex: 2;
  padding-left: 60px;
}

.first {
  font-size: 24px;
  font-weight: 600;
  padding-left: 60px;
}

.main {
  margin-top: 20px;
  font-size: 18px;
  padding-left: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.medium {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  padding-left: 50px;
}
.parent-box {
  width: 1340px;
  height: 1200px;
  margin: 50px auto;
  overflow: hidden;
  background-color: #dfe6e9;
  margin-left: 0px;
  margin-right: 0px;
}

/* Style for the child rectangle boxes */
.child-box {
  width: 300px;
  height: 140px;
  float: left;
  margin: 10px;
  background-color: white;
  box-sizing: border-box;
  margin-left: 60px;
  margin-right: 70px;
}

.box {
  font-size: 40px;
  padding-top: 50px;
  padding-left: 60px;
  padding-bottom: 50px;
}

.box1 {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 14px;
}

.childbox {
  width: 250px;
  height: 290px;
  float: left;
  margin: 10px;
  background-color: white;
  box-sizing: border-box;
  margin-left: 60px;
  margin-right: 20px;
  border-radius: 1ch;
  border-color: black;
  border: 2px solid #333;
}
.parentbox {
  width: 1200px; /* You can adjust the width as needed */
  height: 500px;
  margin: 50px auto; /* Center the parent box */
  border: 2px solid #333;
  overflow: hidden; /* Clear the floats */
  background-color: #dfe6e9;
  margin-left: 0px;
  margin-right: 0px;
}

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.menu-items {
  position: relative;
  font-size: 14px;
  border-radius: 6px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  display: flex;
  align-items: center;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.menu-items > a,
.menu-items button {
  text-align: left;
  padding: 0.5rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #f2f2f2;
  color: black;
  border-radius: 6px;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  left: -1px;
  right: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.25rem 0;
  list-style: none;
  background-color: #fff;
  /* border-radius: 0.5rem; */
  display: none;
  border-radius: 6px;
}

.dropdown.show {
  display: block;
  top: 38px;
  @apply border border-[#f2f2f2];
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 102%;
  top: 0;
  border-radius: 6px;
}

@keyframes fadeRight {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.wpr-highlighted-text svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: visible;
  z-index: auto;
}

.wpr-highlighted-text svg path {
  animation: fadeRight 1s ease-in-out forwards;
}

.control-dots {
  @apply flex justify-center gap-2 !-bottom-12;
}

.carousel-slider {
  @apply !overflow-visible;
}

.owl-dot span {
  @apply !w-3 !h-3 !border-2 !border-primary !bg-white;
}

.owl-dot.active span {
  @apply !bg-primary;
}
